@use '../Shared/functions' as *;
@use '../Shared/typhography' as *;

.about-section {
    text-align: center;
    padding-left: crem(200px);
    padding-right: crem(200px);
    margin-bottom: crem(100px);


    &__title {
        @extend .subtitle;
        text-transform: uppercase;
    }

    &__subtitle {
        @extend .text;
        font-style: italic;
        opacity: 0.60;
        
    }

    &__string {
    text-align: justify;

    }
}