@use '../Shared/functions' as *;
@use '../Shared/typhography' as *;

.main-header {
    &__list {
        color: var(--white);
        display: flex;
        justify-content: start;
        flex-grow: 1;
        background-color: var(--black);
        position: fixed;
        width: 100%;
        z-index: 1;
        box-shadow: 0px 2px 24px 7px #000000c7;
    }

    &__list-item {
        @extend .medium;
        text-transform: uppercase;
        padding: crem(12px) crem(14px);
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        color: var(--white);

        &:hover {
            background-color: var(--grey);
            color: var(--black);

        }
    }

    &__subtitle {
        @extend .medium;
        text-transform: uppercase;
        color: var(--white);

        &:hover {
            background-color: var(--grey);
            color: var(--black);
        }
    }

    &__icon {
        margin-left: auto;
        color: var(--white);
        display: flex;
        padding: crem(20px);
        align-items: center;
        justify-content: flex-end;

        &:hover {
            background-color: var(--red);
            color: var(--white);
        }
    }

}

.dropdown-btn {
    @extend .medium;
    text-transform: uppercase;
    top: 50px;

    &__list {
        display: none;
    }

    &__list-item {
        display: none;
    }

    &__icon {
        box-sizing: border-box;
    }

    &:hover {
        color: var(--black);

        &__list {
            color: var(--black);
            background-color: var(--white);
            display: block;
            min-width: 160px;
            z-index: 1;
        }

        &__list-item {
            width: 100%;
            display: block;
            padding: 8px 16px;
            text-align: left;
            white-space: normal;
            outline: 0;
            z-index: 1;
        }
    }
}