@use '../Shared/functions' as *;
@use '../Shared/typhography' as *;

.main-header {
    &__list {
        color: var(--white);
        display: flex;
        justify-content: start;
        flex-grow: 1;
        background-color: var(--black);
        box-shadow: 0px 2px 24px 7px #000000c7;
    }

    &__list-item {
        @extend .medium;
        text-transform: uppercase;
        padding: crem(12px) crem(14px);
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        color: var(--white);

        &:hover {
            background-color: var(--grey);
            color: var(--black);
        }
    }

    &__subtitle {
        &:hover {
            background-color: var(--grey);
            color: var(--black);
        }
    }

    &__icon {
        flex-grow: 1;
        color: var(--white);
        display: flex;
        padding: crem(20px);
        align-items: center;
        margin-left: crem(510px);
        justify-content: flex-end;

        &:hover {
            background-color: var(--red);
            color: var(--white);
            margin-left: crem(510px);
        }
    }
}