@use '../Shared/functions' as *;
@use '../Shared/typhography' as *;

.name {
    padding-left: crem(200px);
    padding-right: crem(200px);
    padding-bottom: crem(100px);

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: crem(50px);
    }

    &__img {
        width: 100%;
        border-radius: crem(4px);
    }

    &__string {
        text-align: center;
        @extend .medium;
        padding-bottom: crem(10px);
    }

    @media screen and (max-width: 800px) {
        padding-left: crem(100px);
        padding-right: crem(100px);
    }

    @media screen and (max-width: 500px) {
        padding-left: crem(50px);
        padding-right: crem(50px);
    }

    @media screen and (max-width: 400px) {
        padding-left: crem(10px);
        padding-right: crem(10px);
    }
}