@use '../Shared/functions' as *;
@use '../Shared/typhography' as *;


.tickets {
    padding-top: crem(10px);
    background-color: var(--black);
    padding-left: crem(200px);
    padding-right: crem(200px);
    padding-bottom: crem(100px);
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: crem(50px);
        box-sizing: border-box;
    }

    &__list-item {
        max-width: 300px;
        height: auto;
        background-color: var(--white);
        padding-bottom: crem(20px);
    }

    &__title,
    &__string {
        color: var(--black);
        padding-top: crem(10px);
        padding-left: crem(20px);
        padding-right: crem(20px);
    }

    &__subtitle {
        color: var(--darkGrey);
        padding-left: crem(20px);
        padding-right: crem(20px);
    }

    &__img {
        vertical-align: middle;

        &:hover {
            transition: 0.5s;
            opacity: 0.60;
        }
    }

    &__btn {
        background-color: var(--black);
        color: var(--white);
        margin-left: crem(20px);
        padding: crem(10px);
        margin-top: crem(10px);
        @extend .text;

        &:hover {
            background-color: var(--grey);
            color: var(--black);
            transition: 0.5s;
        }
    }


    @media screen and (max-width: 320px) {
        padding-left: crem(50px);
        padding-right: crem(50px);
    }

    @media screen and (max-width: 400px) {
        padding-left: crem(50px);
        padding-right: crem(50px);

        &__list-item {
            margin-bottom: crem(50px);
        }
    }

    @media screen and (max-width: 600px) {
        &__list {
            justify-content: center;
        }
    }

    @media screen and (max-width: 1250px) {
        &__list {
            gap: crem(10px);
            justify-content: center;
        }

        &__list-item {
            margin-bottom: crem(50px);
        }
    }

    @media screen and (max-width: 1300px) {
        &__list {
            gap: crem(50px);
            justify-content: space-evenly;
        }
    }
}