@use '../Shared/functions' as *;
@use '../Shared/typhography' as *;

.tourdates {
    padding-top: crem(64px);
    padding-bottom: crem(64px);
    padding-left: crem(200px);
    padding-right: crem(200px);
    background-color: var(--black);
    color: var(--white);
    text-align: center;

    &__title {
        @extend .subtitle;
        text-transform: uppercase;
        margin-bottom: crem(10px);
    }

    &__subtitle {
        @extend .text;
        opacity: 0.60;
        font-style: italic;
        margin-bottom: crem(10px);
    }

    &__list {
        margin-top: crem(30px);
        background-color: var(--white);
        color: var(--darkGrey);
    }

    &__list-item {
        padding: crem(8px) crem(16px);
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    &__string-span {
        display: inline-block;
        background-color: var(--red);
        color: var(--white);
        margin-left: crem(16px);
        padding-left: crem(8px);
        padding-right: crem(8px);
        box-sizing: border-box;
    }

    &__number {
        margin-right: crem(16px);
        border-radius: 50%;
        color: var(--white);
        background-color: var(--black);
        padding-left: crem(8px);
        padding-right: crem(8px);
        box-sizing: border-box;
        display: inline-block;
        float: right;
    }
}