@use '../Shared/functions' as *;

@mixin text {
    font-size: crem(15px);
    line-height: 1.5em;
    font-weight: 500;
}

.text {
    @include text;
}

.title {
    font-size: crem(64px);
    line-height: 1.25em;
    font-weight: 700;
}

@mixin subtitle {
    font-size: crem(30px);
    line-height: 1.5em;
    font-weight: 400;
}

.subtitle {
    @include subtitle;
}

@mixin heading {
    font-size: crem(24px);
    line-height: 1.333em;
    font-weight: 300;
}

.heading {
    @include heading;
}

@mixin medium {
    font-size: crem(18px);
    line-height: 1em;
    font-weight: 400;
}

.medium {
    @include medium;
}