html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu {
  display: block;
}

body {
  line-height: 1;
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

html {
  --white: #fff;
  --black: #000;
  --grey: #c0c0c0;
  --red: #f44336;
  --darkGrey: #757575;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.text, .tourdates__subtitle, .about-section__subtitle, .header-section__subtitle {
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 500;
}

.title {
  font-size: 6.4rem;
  line-height: 1.25em;
  font-weight: 700;
}

.subtitle, .tourdates__title, .about-section__title, .header-section__title {
  font-size: 3rem;
  line-height: 1.5em;
  font-weight: 400;
}

.heading {
  font-size: 2.4rem;
  line-height: 1.333em;
  font-weight: 300;
}

.medium, .name__string, .main-header__list-item, .main-header__subtitle, .dropdown-btn {
  font-size: 1.8rem;
  line-height: 1em;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--white);
  font-family: "Lato", sans-serif;
  color: var(--black);
  line-height: 3rem;
}

.main-header__list {
  color: var(--white);
  display: flex;
  justify-content: start;
  flex-grow: 1;
  background-color: var(--black);
  box-shadow: 0px 2px 24px 7px rgba(0, 0, 0, 0.7803921569);
}
.main-header__list-item {
  text-transform: uppercase;
  padding: 1.2rem 1.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  color: var(--white);
}
.main-header__list-item:hover {
  background-color: var(--grey);
  color: var(--black);
}
.main-header__subtitle {
  text-transform: uppercase;
}
.main-header__subtitle:hover {
  background-color: var(--grey);
  color: var(--black);
}
.main-header__icon {
  flex-grow: 1;
  color: var(--white);
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: flex-end;
}
.main-header__icon:hover {
  background-color: var(--red);
  color: inherit;
}

.dropdown-btn {
  text-transform: uppercase;
  color: var(--white);
}
.dropdown-btn__list {
  display: none;
}
.dropdown-btn__list-item {
  display: block;
}
.dropdown-btn__icon {
  box-sizing: border-box;
}
.dropdown-btn:hover {
  color: var(--black);
}
.dropdown-btn:hover__list {
  color: var(--black);
  background-color: var(--white);
  display: block;
  min-width: 160px;
  z-index: 999;
}
.dropdown-btn:hover__list-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  white-space: normal;
  outline: 0;
  z-index: 999;
}

.header-section {
  text-align: center;
  height: 65rem;
  color: var(--white);
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.header-section__title {
  position: absolute;
  bottom: 6rem;
}
.header-section__subtitle {
  position: absolute;
  bottom: 3rem;
}
.header-section__img {
  box-sizing: border-box;
  border-style: none;
  z-index: -1;
}

.about-section {
  text-align: center;
  padding-left: 20rem;
  padding-right: 20rem;
  margin-bottom: 10rem;
}
.about-section__title {
  text-transform: uppercase;
}
.about-section__subtitle {
  font-style: italic;
  opacity: 0.6;
}
.about-section__string {
  text-align: justify;
}

.name {
  padding-left: 20rem;
  padding-right: 20rem;
  padding-bottom: 10rem;
}
.name__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.name__img {
  width: 100%;
  border-radius: 0.4rem;
}
.name__string {
  text-align: center;
  padding-bottom: 1rem;
}

.tourdates {
  padding-top: 6.4rem;
  padding-bottom: 1rem;
  padding-left: 20rem;
  padding-right: 20rem;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}
.tourdates__title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.tourdates__subtitle {
  opacity: 0.6;
  font-style: italic;
  margin-bottom: 1rem;
}
.tourdates__list {
  margin-top: 3rem;
  background-color: var(--white);
  color: var(--darkGrey);
}
.tourdates__list-item {
  padding: 0.8rem 1.6rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tourdates__string-span {
  display: inline-block;
  background-color: var(--red);
  color: var(--white);
  margin-left: 1.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  box-sizing: border-box;
}
.tourdates__number {
  margin-right: 1.6rem;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--black);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  box-sizing: border-box;
  float: right;
}

.tickets {
  padding-top: 1rem;
  background-color: var(--black);
}
.tickets__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  box-sizing: border-box;
}
.tickets__img {
  vertical-align: middle;
}
.tickets__list-item {
  margin-left: 15rem;
  margin-right: 15rem;
}
.tickets__title, .tickets__string {
  background-color: var(--white);
  color: var(--black);
}
.tickets__subtitle {
  background-color: var(--white);
  color: var(--darkGrey);
}/*# sourceMappingURL=style.css.map */